body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
}

#header a {
  text-decoration: underline;
  text-color: black;
}

#login input {
  display: block;
  font-size: 12px;
}

#header #login {
  display: none;
}

form {
  max-width: 250px;
}

form input {
  width: 100%;
  border: 0;
  outline 0;
  background: transparent;
  border-bottom: 2px solid black;
  display: block;
  margin-bottom: 5px;
}

form ul {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form ul li {
  border: 1px solid #ddd; 
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; 
  padding: 3px; 
  font-size: 10px; 
  display: block; 
}

ul li:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.button {
  border: 2px solid black;
}
