<form id="login" action="/user/login" method="post">
<p><b>{{ reason }}</b></p>
Email: <input id="email" type="email" name="email"></input>
Password: <input id="password" type="password" name="password"></input>
<input class="button" type="submit" value="Submit">
</form>
