<div id="index">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Search for your favourite piece of software below:</p>
<input id="search"></input>
<br>
<p>The (WIP) API is available <a href="./api">here</a>.</p>
</div>

<script src="/javascript/index.js" type="module"></script>
