<form id="register" action="/user/register" method="post">
<p><b>{{ reason }}</b></p>
Email: <input id="email" type="email" name="email"></input>
Password: <input id="password" type="password" name="password"></input>
Confirm Password: <input id="passwordConf" type="password" name="passwordConf"></input>
<input class="button" type="submit" value="Submit">
</form>
